README.html
hardware/*.bck
hardware/*.bak
hardware/*.kicad_pcb-bak
hardware/.rpt
hardware/.rpt.rpt
firmware/*.o
firmware/*.hex
firmware/*.eep
firmware/*.asm
firmware/*.lst
firmware/*.map
firmware/*.elf
firmware/*.bin
firmware/emulated_*
*/*.swp
*/.swp
.swp
